:root {
    --light-blue: hsl(190, 86%, 97%);
    --blue: hsl(201, 76%, 47%);
    --font-button: 3.5rem;
    --space-xl-s: clamp(3.94rem, calc(3.13rem + 4.02vw), 6.25rem);
    --step-0: clamp(1.69rem, calc(1.06rem + 3.15vw), 3.50rem);
    --font-family: 'Roboto', sans-serif;
}